// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}
@media (max-width: 550px) {
  .tech-used {
    overflow: hidden !important;
    overflow-x: scroll !important;
  }
}
.bottom-social-links {
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}
.hr {
  max-width: 300px;
  margin: 50px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
  color: red;
}

.custome-center {
  text-align: center;
  h1 {
    padding: 1%;
  }
}
.tech-used {
  padding: 6% 0%;
  overflow: hidden;
  overflow-x: hidden;
  span {
    cursor: pointer;
    border: solid 1px red;
    border: solid 1px red;
    padding: 1px 5px;
    color: red;
    font-weight: 900;
    margin: 5px;
    letter-spacing: 1px;
  }
  span:active, span:hover {
    background-color: red;
    color: white;
  }
  span::before {
    content: "#";
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  a {
    color: #808080f5;
  }
  // text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}
